<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>Imports data from gen3 by using the gen3 cli client.   &#xd;
&#xd;
generate a file-manifest.json via gen3 ui interface for desired files. &#xd;
&#xd;
For study abv name use abv name from Ticket or BDC Managed Inputs.  &#xd;
&#xd;
For accession use the assigned phs accession from dbgap.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>