<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ROLE_ARN</name>
          <defaultValue>$arn_role_app</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ami_id</name>
          <defaultValue>ami-00d6822f1b6699840</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>infrastructure_git_hash</name>
          <defaultValue>genomic-etl-nextflow</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>output_s3_bucket</name>
          <defaultValue>avillach-biodatacatalyst-deployments-3drb48r</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>study_id</name>
          <defaultValue>open_access-1000Genomes</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>chrom_number</name>
          <defaultValue>21</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>study_name</name>
          <defaultValue>1000Genomes</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>terminate_on_completion</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>az</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>us-east-1a</string>
              <string>us-east-1b</string>
              <string>us-east-1c</string>
              <string>us-east-1d</string>
              <string>us-east-1f</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.0.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/hms-dbmi/avillachlab-secure-infrastructure</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${infrastructure_git_hash}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd genomic-etl-noncompliant-s3-bucket

terraform init
terraform workspace select ${study_id}-${chrom_number} || terraform workspace new ${study_id}-${chrom_number}
terraform apply  -auto-approve -var &quot;output_s3_bucket=${stack_s3_bucket}&quot; -var &quot;study_id=${study_id}&quot; -var &quot;chrom_number=${chrom_number}&quot; &amp;
wait

cd ../genomic-etl-infrastructure-noncompliant

aws s3 cp s3://${output_s3_bucket}/genomic-etl/deployment_state_metadata/${study_id}/${chrom_number}/genomic_etl_variables.tf .
aws s3 cp s3://${output_s3_bucket}/genomic-etl/deployment_state_metadata/subnet_variables.tf .
aws s3 cp s3://${output_s3_bucket}/genomic-etl/deployment_state_metadata/${study_id}/${chrom_number}/terraform.tfstate .

cd ../genomic-etl-infrastructure-noncompliant
export TF_LOG=&quot;INFO&quot;
terraform init
terraform workspace select ${study_id}-${chrom_number}-ws || terraform workspace new ${study_id}-${chrom_number}-ws 
terraform apply -auto-approve -var=&quot;az=${az}&quot; -var=&quot;s3_role=${arn_role_cnc}&quot; -var=&quot;study_name=${study_name}&quot; -var=&quot;ami-id=${ami_id}&quot; -var=&quot;output_s3_bucket=${output_s3_bucket}&quot; -var=&quot;study_id=${study_id}&quot; -var=&quot;chrom_number=${chrom_number}&quot; || true

aws s3 cp terraform.tfstate s3://${stack_s3_bucket}/genomic-etl/deployment_state_metadata/${study_id}/${chrom_number}/terraform.tfstate || echo &apos;tfstate for ec2 error&apos;


aws ec2 describe-spot-fleet-requests --region us-east-1 --query &quot;SpotFleetRequestConfigs[?SpotFleetRequestConfig.LaunchSpecifications[?TagSpecifications[?Tags[?Value == &apos;Genomic ETL Annotation Pipeline - ${study_id} Chromosome ${chrom_number}&apos;]]] &amp;&amp; (SpotFleetRequestState == &apos;active&apos; || SpotFleetRequestState==&apos;open&apos;)].SpotFleetRequestId&quot; &gt; fleet_id_${study_id}_${chrom_number}.txt
export fleetId=`grep sfr fleet_id_${study_id}_${chrom_number}.txt  | cut -d &apos;&quot;&apos; -f 2` &amp;&amp; echo fleet id ${fleetId}
aws ec2 describe-spot-fleet-instances --spot-fleet-request-id ${fleetId} --query &quot;ActiveInstances[?InstanceHealth==&apos;healthy&apos;].InstanceId&quot; --output text --region us-east-1 &gt; instance_id_${study_id}_${chrom_number}.txt
export instanceId=`grep &apos;i-&apos; instance_id_${study_id}_${chrom_number}.txt  | cut -d &apos;&quot;&apos; -f 2` &amp;&amp; echo ${instanceId}
export restartCount=0
while [ -z ${instanceId} ]
do
echo &apos;waiting for instance launch&apos;
sleep 10
aws ec2 describe-spot-fleet-instances --spot-fleet-request-id ${fleetId} --query &quot;ActiveInstances[?InstanceHealth==&apos;healthy&apos;].InstanceId&quot; --output text --region us-east-1 &gt; instance_id_${study_id}_${chrom_number}.txt
export instanceId=`grep &apos;i-&apos; instance_id_${study_id}_${chrom_number}.txt  | cut -d &apos;&quot;&apos; -f 2`
done

echo first instance id ${instanceId}
while [[ -z $(aws --region=us-east-1 ec2 describe-tags --filters Name=resource-id,Values=&quot;${instanceId}&quot; Name=tag:AnnotationComplete,Values=&quot;true&quot; | grep AnnotationComplete) ]] &amp;&amp; [[ -z $(aws --region=us-east-1 ec2 describe-tags --filters Name=resource-id,Values=&quot;${instanceId}&quot; Name=tag:AnnotationComplete,Values=&quot;false&quot; | grep AnnotationComplete) ]]
do
#!/bin/bash
aws ec2 describe-spot-fleet-instances --spot-fleet-request-id ${fleetId} --query &quot;ActiveInstances[?InstanceHealth==&apos;healthy&apos;].InstanceId&quot; --output text --region us-east-1 &gt; instance_id_${study_id}_${chrom_number}.txt
export newInstanceId=`grep &apos;i-&apos; instance_id_${study_id}_${chrom_number}.txt  | cut -d &apos;&quot;&apos; -f 2`
if [ -z ${newInstanceId} ]
then
echo &quot;Instance id changed. Waiting for new instance id&quot;;
elif [ &quot;${newInstanceId}&quot; != &quot;${instanceId}&quot; ]
then
echo &quot;Instance id changed. New instance id is &quot; ${newInstanceId};
export instanceId=${newInstanceId};
else
echo &quot;Instance stable. Annotation in process&quot;;
fi

sleep 60

done

if [ $(aws --region=us-east-1 ec2 describe-tags --filters Name=resource-id,Values=&quot;${instanceId}&quot; Name=key,Values=AnnotationComplete --query &quot;Tags[*].Value&quot; | jq .[0]) = &apos;&quot;true&quot;&apos; ]
then
echo &apos;Annotation completed successfully&apos;
export AnnotationDone=true
else
echo &apos;Annotation not successful&apos;
export AnnotationDone=false
fi

if ($terminate_on_completion)
then
aws ec2 cancel-spot-fleet-requests --region us-east-1 --spot-fleet-request-ids ${fleetId} --terminate-instances || echo &apos;could not terminate&apos;
#TODO ADD VOLUME DELETE HERE
fi

if [ ${AnnotationDone} = false ]
then
exit 44
fi</command>
      <configuredLocalRules/>
      <unstableReturn>44</unstableReturn>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.99">
      <recipientList>sharra_neely@hms.harvard.edu</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>VEP failure on $study_id group $study_consent_group chromosome $chrom_number</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.45">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>