<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Use this to list available vcf indexes</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
s3bucket=s3://avillach-biodatacatalyst-deployments-3drb48r/genomic-etl/ingestion-indexes/
s3root=s3://avillach-biodatacatalyst-deployments-3drb48r/
aws s3 ls ${s3bucket} --recursive | awk -v root=&quot;$s3root&quot; &apos;{print root $4}&apos;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>