<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Wheres the vcf?  I don&apos;t want to browse.  Let&apos;s use the manifest</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>input_s3_bucket</name>
          <defaultValue>nih-nhlbi-topmed-freeze10-spiromics-phs001927-v2-r1-c1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
input_s3_account=600168050588

aws sts assume-role --role-arn arn:aws:iam::${input_s3_account}:role/nih-nhlbi-TopMed-EC2Access-S3 --role-session-name &quot;get-genomic-source-file&quot; &gt; ./assume-role-output.txt

export AWS_ACCESS_KEY_ID=$(grep AccessKeyId ./assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;)
export AWS_SECRET_ACCESS_KEY=$(grep SecretAccessKey ./assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;)
export AWS_SESSION_TOKEN=$(grep SessionToken ./assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;)

#nih-nhlbi-topmed-freeze10-spiromics-phs001927-v2-r1-c6.manifest.20250812200353.tsv
aws s3 ls ${input_s3_bucket}
aws s3 cp s3://${input_s3_bucket} . --recursive --exclude &quot;*&quot; --include &quot;*manifest*tsv&quot; --no-progress

grep &apos;vcf.gz	&apos; *manifest*.tsv
#aws s3 cp s3://${input_s3_bucket}/${study_name}_${study_id}_TOPMed_WGS_freeze.${freeze_number}b.chr${chrom_number}.hg38${consent_group_tag}.vcf.gz /annotation_pipeline/anno/ensembl-vep/ &amp;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.45">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>