<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.10.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/hms-dbmi/ETL-MissionControl-dbgap-submodule</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# Managed Inputs

aws sts assume-role --duration-seconds 3600 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt
export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`

mkdir mappings
mkdir data
mkdir processing
mkdir completed
mkdir dict
mkdir resources
mkdir reports

git clone https://github.com/UW-GAC/topmed-dcc-harmonized-phenotypes

find topmed-dcc-harmonized-phenotypes/harmonized-variable-documentation/ -type f -name &quot;*.json&quot; -exec cp {} ./dict/ \;

aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_atherosclerosis_v1/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;
aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_baseline_common_covariates_v2/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;
aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_blood_cell_count_v3/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;
aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_blood_pressure_v1/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;
aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_demographic_v3/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;
aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_lipids_v3/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;
aws s3 cp s3://avillach-73-bdcatalyst-etl/hrmn/dataBuilder/data/topmed_dcc_harmonized_vte_v1/ processing/ --recursive --exclude &quot;*&quot; --include &quot;*.txt&quot;


java -jar jars/HarmonizedMappingGenerator.jar
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>